@{
    ViewBag.Title = "Hotels";
}

<h2>Hotels</h2>
@foreach (var city in ViewBag.Cities)
{
    <h3>@city.Titel</h3>
    <div>
        @foreach (var hotel in city.Hotels)
        {
            <div style="width: 300px; float:left;">
                <h4>@hotel.Name</h4>
                <img class="thumbnail" src=@hotel.PhotoFile />
                @Html.ActionLink("Детали", "Details", new { id = hotel.Id})
            </div>
            
        }
        <div style="clear:both"></div>
    </div>
}